<!DOCTYPE html>
<html>

<head>
    <title>SPDP</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>Story companion</h1>
    <div class="button-container"> 
        <form action="/translate_page" method="post">
            <center><button class="button" onclick="javascript:location.href='translate_page.html'">Translate</button>
            </center>
        </form>
        <form action="/visualize_page" method="post">
        <center><button class="button disabled" onclick="javascript:location.href='visualize_page.html'">Visualize</button></center>
        </form>
    </div>
</body>

</html>