<!DOCTYPE html>
<html>

<head>
    <title>translate_page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>Visualize Images</h1>
    <br>
    <br>
    <form>
        <center>
            <table>
                <tr>
                    <label>TEXT:</label><br>
                </tr>
                <tr>
                    <textarea style="width : 500px; height : 30%"></textarea>
                </tr>
                <tr>
                    <br>
                    <button type="submit" class="button">Visualize</button>
                </tr>
            </table>
        </center>
    </form>

</body>

</html>